<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2>Виявлено помилки, які перешкоджають збереженню даних:</h2>

        <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Роки виконання:", style: "display: block" %>
    <%= form.text_field :years %>
  </div>

  <div>
    <%= form.label "Назва проєкту:", style: "display: block" %>
    <%= form.text_field :name, size: 150 %>
  </div>

    <div>
    <%= form.label "Посилання на проєкт:", style: "display: block" %>
    <%= form.text_field :href, size: 70 %>
  </div>

  <div>
    <%= form.submit "Зберегти" %>
  </div>
<% end %>
