<div id="to-root">
  <%=  link_to "На головну сторінку | To main page", root_path %>
</div>

<h1>Мої проєкти | My Projects</h1>

<div id="projects">
  <table>
    <tr>
      <th>№</th><th>Роки | Years</th><th>Назва проєкту | Project name</th><th>Посилання на проєкт | Link to project</th>
      <th>
        <% if session[:editor] %>
          <%=  link_to "Вийти", "/auth/exit" %>
        <% else %>
          <%=  link_to "Увійти | Sign in", "/auth/google_oauth2" %>
        <% end %>
      </th>
    </tr>
    <% index = 0 %>
    <% @projects.each do |project| %>
      <% index += 1 %>
      <tr>
        <td class="align-right"><%= index %></td>
        <td><%= project.years %></td>
        <td><%= project.name %></td>
        <td><%= link_to project.href, project.href %></td>
        <td><%= session[:editor] ? link_to("Подробиці", project) : "" %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= session[:editor] ? link_to("Додати проєкт", new_project_path) : "" %>